[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snowflake-connector-python = "*"
pandas = "*"
flask = "*"
flask-restful = "*"
fastavro = "*"
pyarrow = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
